<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <!--
    Convenience wrapper for the 'ur_robot' macro which provides default values
    for the various "parameters files" parameters for a UR5e.

    This file can be used when composing a more complex scene with one or more
    UR5e robots.

    While the generic 'ur_robot' macro could also be used, it would require
    the user to provide values for all parameters, as that macro does not set
    any model-specific defaults (not even for the generic parameters, such as
    the visual and physical parameters and joint limits).

    Refer to the main 'ur_macro.xacro' in this package for information about
    use, contributors and limitations.

    NOTE: users will most likely want to override *at least* the
          'kinematics_parameters_file' parameter. Otherwise, a default kinematic
          model will be used, which will almost certainly not correspond to any
          real robot.
  -->
  <xacro:macro name="ur5e_robot" params="
  prefix
  transmission_hw_interface"
  >

    <xacro:include filename="$(find ur_description)/urdf/inc/ur5e_macro.xacro"/>
    <xacro:ur5e_robot prefix="${prefix}" transmission_hw_interface="${transmission_hw_interface}"/>
    
    <!-- <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_mesh_macro.xacro" /> -->
    <!-- <xacro:robotiq-3f-gripper_mesh prefix="grip_"/> -->
    <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_articulated_macro.xacro" />
    <xacro:robotiq-3f-gripper_articulated prefix="grip_"/>

    <link name="onrobot_link">
      <inertial>
        <origin xyz="0 0 0.004" rpy="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.04" length="0.0487" />
        </geometry>
        <material name="Gray">
          <color rgba="0 1.0 1.0 1.0"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.04" length="0.0487"/>
        </geometry>
      </collision>
    </link>

    <!-- link list -->
    <link name="safety_wall">
      <visual>
          <geometry>
            <box size="3 0.1 3"/>
          </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="3 0.1 3"/>
        </geometry>
      </collision>
    </link>

    <joint name="safety_wall_base_link" type="fixed">
			<parent link="safety_wall"/>
			<child link="base_link"/>
			<origin xyz="0.0 -0.55 0.0" rpy="0 0 0"/>
		</joint> 

    <!-- <link name="grip_tool0"/>

    <joint name="grip_palm_tool0" type="fixed">
			<parent link="grip_palm"/>
			<child link="grip_tool0"/>
			<origin xyz="0.0 0.0875 0.0" rpy="0 0 1.5707"/>
		</joint> -->

		<joint name="onrobot_joint" type="fixed">
			<parent link="tool0"/>
			<child link="onrobot_link"/>
      <axis xyz="0.0 1 0"/>
			<origin xyz="0 0 0.02435" rpy="0 0 0"/>
		</joint>


		<!-- <joint name="gripper_joint" type="fixed">
			<parent link="onrobot_link"/>
			<child link="grip_palm"/>
			<origin xyz="0 0 0.18835" rpy="0 0 0"/>
		</joint> -->

    <!-- <joint name="gripper_joint" type="revolute">
			<parent link="onrobot_link"/>
			<child link="grip_palm"/>
      <axis xyz="0 1 0"/>
      <limit effort="30" velocity="1.0" lower="-3.14" upper="3.14" />
			<origin xyz="0 0 0.07835" rpy="1.57 0 0"/>
		</joint> -->

    <joint name="gripper_joint" type="fixed">
			<parent link="onrobot_link"/>
			<child link="grip_palm"/>
			<origin xyz="0 0 0.07835" rpy="1.57 0 2.355"/>
		</joint>

    <link name="gripper_tip_link" />

		<joint name="gripper_tip_joint" type="fixed">
			<parent link="grip_tool0"/>
			<child link="gripper_tip_link"/>
			<origin xyz="0.075 0 0" rpy="0 0 0"/>
		</joint>

		<!-- <joint name="gripper_joint" type="prismatic">
			<parent link="onrobot_link"/>
			<child link="grip_palm"/>
      <axis xyz="0.0 1 0"/>
      <limit effort="30" velocity="1.0" lower="-2.2" upper="1" />
			<origin xyz="0 0 0.07835" rpy="1.57 0 0"/>
		</joint> -->
  </xacro:macro>
</robot>
